* {
  margin: 0;
  padding: 0;
}
.background {
  position: relative;
}
.background img {
  width: 100%;
}
.background .white {
  position: absolute;
  bottom: -3%;
}
.mid {
  text-align: center;
  margin-top: 6%;
}
.mid .mid-text h1 {
  color: red;
  font-size: 30px;
}
.mid .mid-text h2 {
  color: black;
  font-size: 15px;
}
.mid .mid-text {
  line-height: 38px;
}
.mid .mid-buttons button {
  padding: 20px 10px;
  margin: 10px;
  width: 101px;
  border-radius: 27px;
  border-style: none;
  background: #a80e0e;
  color: white;
}
#yellow-button {
  background-color: #e1a706;
}
.mid .mid-text li {
  list-style: none;
}

.mid img {
  width: 17%;
}

.item-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 50px 100px;
  grid-gap: 100px;
}
.item-grid .items img {
  width: 98%;
}
/* .item-grid .items {
  border: 1px solid black;
}   */

.item-grid .items .item-description .like {
  display: flex;
  margin: 5px;
}
.item-grid .items .item-description .like img {
  width: 21px;
}
.item-grid .items .item-description .like p {
  font-size: 15px;
}
.item-grid .items .item-description .item-review {
  display: flex;
  justify-content: space-around;
  color: blue;
  width: 55%;
}
.item-grid .items .item-description .add-cart-button {
  display: flex;
}
.item-grid .items .item-description .add-cart-button button {
  background-color: #e1a706;
  border: none;
  border-radius: 17px;
  width: 90px;

  color: white;
}
.item-grid .items .item-description .add-cart-button p {
  margin: 8px;
}
.item-grid .items .item-description .add-cart-button img {
  width: 16px;
}
.company-details {
  text-align: center;
  padding: 0px 0px 26px 0px;
}
.company-details .company-description p {
  color: #808080;
}

.item-grid .items .item-name p {
  font-size: larger;
}
.company-details .company-contact {
  padding: 20px 0px;
}
footer .rights {
  text-align: center;
}
footer .rights {
  padding: 70px;
  border-top: 1px solid grey;
}
footer .rights p {
  color: #808080;
}
.company-description .company-contact h2 {
  font-size: 15px;
}
.item-grid .items .item-description .add-cart-button p {
  color: #a80e0e;
}

.blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3500px;
  background-color: rgba(125, 125, 125, 0.4);
}
.popup {
  position: fixed;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 53%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

/*  ######################## media screens ############ 
############################################*/
@media screen and (max-width: 600px) {
  .mid .mid-buttons {
    margin: 30px;
    float: left;
  }
  .mid .mid-text img{
    width: 49%;
  }
  .mid .mid-buttons button {
    margin: 14px;
  }
  .mid .mid-text h2 {
    font-size: 12px;
  }
  .item-grid {
    display: list-item;
    list-style: none;
    line-height: 80px;
  }
  .item-grid .items .item-description .add-cart-button button {
    height: 30px;
    margin: 16px 0px 0px;
  }
  .item-grid .items .item-description {
    line-height: 50px;
  }
  .company-details .company-contact h2 {
    font-size: 18px;
    padding: 9px;
  }

  footer .rights {
    padding: 58px;
  }
}



@media screen and (max-width: 500px) {
  .item-grid .items {
    line-height: 23px;
  }
  .item-grid .items .item-description .add-cart-button {
    padding: 0 0 35px 0;
  }
  .company-details .company-contact h2 {
    font-size: 14px;
    padding: 9px;
  }
  .item-grid .items .item-description .add-cart-button button{
    margin: 16px 0 0 0;
    padding:  8px 0px;
    width: 94px;
  }
  .mid .mid-buttons button {
    margin: 26px;
  }
  .item-description .item-review {
    font-size: 11px;
  }

}

/**********************************
 Write Review**********************
 *********************************/

.popup h1 {
  font-family: "Montserrat";
  font-size: 20px;
  padding: 42px 3px 10px 0px;
}

.popup h2 {
  font-size: 12px;
  padding: 3px 3px 3px;
}
.popup .review-buttons {
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 10px 0px;
}

.popup .review-buttons button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 13px 21px;
  /* margin: 3px 6px 0px 6px; */
  border-radius: 60px;
}

.popup .review-buttons button img {
  width: 12%;
}

.name-feedback {
  display: flex;
  flex-direction: column;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0px 0px;
}

.name-feedback input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  padding: 17px 10px;
  margin-top: 10px;
  opacity: 0.5;
  font-size: 16px;
}

.name-feedback button {
  margin: 8px 0px 0px 5px;
  width: 30%;
  background-color: #e1a700;
  border-radius: 10px;
  border: none;
  font-size: 10px;
  padding: 11px;
  color: white;
}
.review {
  overflow: scroll;
  height: 150px;
  text-align: center;
}

.popup-1 {
  position: fixed;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 50%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.popup-1 h1 {
  font-family: "Montserrat";
  font-size: 20px;
  padding: 23px 0px;
  font-weight: lighter;
}

.popup-1 h2 {
  font-size: 12px;
  padding: 3px 3px 3px;
}
.popup-1 .review-buttons {
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 10px 0px;
}

.popup-1 .review-heading {
  font-weight: bold;
}

.review .review-one .user-name {
  font-weight: bold;
  display: flex;
  margin-left: 58px;
}

.popup-1 .review-buttons button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  /* margin: 3px 6px 0px 6px; */
  border-radius: 60px;
  font-size: 12px;
}

.popup-1 .review-buttons button img {
  width: 12%;
}

.popup-1 textarea {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-bottom: 1px solid black;
}

/* -----------------------------    cart page -------------------
----------------------------------------------------------------*/

.cart-items {
  display: flex;
}

.cart-items .cart-item1 {
  padding: 17px 17px;
}
